* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  background-color: grey;
  padding: 10px 20px;
  text-align: center;
}

header nav h1 {
  color: #fdfdfd;
  font-size: 1.3rem;
  font-weight: bold;
}

main {
  display: flex;
  flex: 1;
}

aside {
  width: 200px;
  min-width: 200px;
  background-color: #a1a3a1;
  padding: 30px 20px;
}

aside ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

aside ul li button {
  width: 100%;
  padding: 10px 16px;
  background-color: white;
  border: none;
  border-radius: 6px;
  color: blue;
  font-size: 0.85rem;
  cursor: pointer;
}

aside ul li button:hover {
  background-color: #e8e8e8;
}

aside ul li button.ativo {
  background-color: #ddeeff;
  font-weight: bold;
}

main > section {
  flex: 1;
  background-color: #f5f5f5;
  padding: 40px;
  display: none;
}

main > section.ativa {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.card {
  background-color: white;
  border: 1px solid whitesmoke;
  border-radius: 8px;
  padding: 24px;
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.card h2 {
  font-size: 1rem;
  color: black;
}

.card > p {
  font-size: 0.9rem;
  color: black;
}

.grupo {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.grupo label {
  font-size: 0.82rem;
  color: black;
}

.grupo input,
.grupo select {
  padding: 8px 10px;
  border: 1px solid whitesmoke;
  border-radius: 4px;
  font-size: 0.9rem;
}

.regra3-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 12px;
  width: 100%;
}

.campo-resultado {
  padding: 8px 10px;
  border: 1px dashed #889;
  border-radius: 4px;
  font-size: 0.9rem;
  color: black;
  background-color: rgba(255, 252, 252, 0.849);
}

.btn-calcular {
  padding: 9px;
  background-color: rgb(5, 138, 182);
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 0.9rem;
  cursor: pointer;
}

.btn-calcular:hover {
  background-color: rgba(5, 138, 200);
}

.resultado {
  font-size: 0.9rem;
  color: black;
  display: none;
  padding: 10px;
  background-color: #ddeeff;
  border-radius: 4px;
}

.resultado.visivel {
  display: block;
}

.resultado.erro {
  background-color: #fff0f0;
  color: red;
}

footer {
  background-color: grey;
  padding: 10px 20px;
  text-align: center;
}

footer p {
  color: white;
  font-size: 0.9rem;
  font-weight: bold;
  letter-spacing: 1px;
}
